*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
}
.logo{
    width: 40%;
    display: flex;
    padding-left: 20px;
    border: black;
    border-radius: 50%;
    padding-top: 20px;
}
.logo img{
    width: 30%;
    border-radius: 50%;

    
}
.nav-list{
    width: 70%;
    display: flex;

    /* background: #000; */

}


.nav-list li{
    list-style: none;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 10px;

}

.nav-list li a{
    text-decoration: none;
    color: black;
}
.nav-list li a:hover{
    text-decoration: none;
    color: red;
}

.rightNav{
    width: 30%;
    text-align: right;
    padding-top: 20px;
}

#search{
    padding: 5 px;
}